<% layout("/layouts/boilerplate") %>

<div class="row">
    <h2 class="col-6 offset-3 mt-2">Login on <span class="login-heading">StayQuest</span></h2>
    <div class="col-6 offset-3">
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label mb-0">Username</label>
                <input name="username" id="username" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label mb-0">Password</label>
                <input name="password" id="password" type="text" class="form-control" required>
            </div>
            <button class="btn btn-success login-btn">Login</button>
        </form>
    </div>
</div>